*.log
*.iml
*.class
*.odt
*.classpath
*.project

bin/ 
target/ 

/Maven/target/classes

/Maven/target/generated-sources

/Maven/target/maven-status

/Maven/target/test-classes

/.idea

/JenkinsTasks/
JenkinsTasks/


